---
import {
  getLangFromPath,
  getLocalisedHomePath,
} from '@/lib/utils/lang';

const { pathname } = Astro.url;
const currentLang = getLangFromPath(pathname);

const pathMap: Record<string, string> = {
  '/en': '/cy',
  '/en/contact': '/cy/cysylltu',
  '/en/gallery': '/cy/oriel',
  '/cy': '/en',
  '/cy/cysylltu': '/en/contact',
  '/cy/oriel': '/en/gallery',
};

const cleanPath = pathname.replace(/\/$/, '');
const oppositePath = pathMap[cleanPath];

const englishPath = currentLang === 'cy' ? oppositePath || '/en' : pathname;
const welshPath = currentLang === 'en' ? oppositePath || '/cy' : pathname;

const linkSpanClasses = 'no-underline hover:underline transition-all';
const activeClasses = 'font-bold underline pointer-events-none opacity-60';
---

<div class='text-right text-sm whitespace-nowrap mr-5 lg:mr-0'>
  <a href={englishPath}>
    <span
      class={`${linkSpanClasses} inline sm:hidden`}
      class:list={{ [activeClasses]: currentLang === 'en' }}
    >Eng</span>
    <span
      class={`${linkSpanClasses} hidden sm:inline`}
      class:list={{ [activeClasses]: currentLang === 'en' }}
    >English</span>
  </a>
  <span>/</span>
  <a href={welshPath}>
    <span
      class={`${linkSpanClasses} inline sm:hidden`}
      class:list={{ [activeClasses]: currentLang === 'cy' }}
    >Cym</span>
    <span
      class={`${linkSpanClasses} hidden sm:inline`}
      class:list={{ [activeClasses]: currentLang === 'cy' }}
    >Cymraeg</span>
  </a>
</div>