---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";
import HCaptcha from "@/components/HCaptcha.astro";

const contact = await getEntry("contact", "-index");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = contact.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <form action={contact_form_action} method="POST" id="site-contact-form">
            <div class="mb-6">
              <input type="hidden" name="access_key" value="849b9409-b65b-4524-8ccc-084d05bbb148">
              <input type="hidden" name="from_name" value="Carpentry and Crafts For All Website">
              <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
              <label for="name" class="form-label">
                Full Name <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                name="name"
                class="form-input"
                placeholder="John Doe"
                type="text"
                required
              />
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">
                Email <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder="john.doe@email.com"
                type="email"
                required
              />
            </div>
            <div class="mb-6">
              <label for="subject" class="form-label">
                Subject <span class="text-red-500">*</span>
              </label>
              <select
                id="subject"
                name="subject"
                class="form-input"
                required
              >
                <option value="General Enquiry">General Enquiry</option>
                <option value="Course Enquiry">Course Enquiry</option>
                <option value="Press / Media Enquiry">Press / Media Enquiry</option>
              </select>
            </div>
            <div class="mb-6">
              <label for="message" class="form-label">
                Message <span class="text-red-500">*</span>
              </label>
              <textarea
                id="message"
                name="message"
                class="form-input"
                placeholder="Message goes here..."
                rows="8"
                required
              ></textarea>
            </div>
            <HCaptcha />
            <button type="submit" class="btn btn-primary mt-6">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>