---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";
import HCaptcha from "@/components/HCaptcha.astro";

const contact = await getEntry("contact", "-index-cy");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = contact.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <form action={contact_form_action} method="POST">
            <div class="mb-6">
              <input type="hidden" name="access_key" value="849b9409-b65b-4524-8ccc-084d05bbb148">
              <input type="hidden" name="from_name" value="Gwefan Gwaith Saer a Chrefftau i Bawb">
              <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
              <label for="name" class="form-label">
                Enw Llawn <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                name="name"
                class="form-input"
                placeholder="Siôn Dafydd"
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">
                Ebost <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder="sion.dafydd@ebost.com"
                type="email"
              />
            </div>
            <div class="mb-6">
              <label for="subject" class="form-label">
                Subject <span class="text-red-500">*</span>
              </label>
              <select
                id="subject"
                name="subject"
                class="form-input"
              >
              <option value="Ymholiad Cyffredinol">Ymholiad Cyffredinol</option>
              <option value="Ymholiad Cwrs">Ymholiad Cwrs</option>
              <option value="Ymholiad y Wasg / Cyfryngau">Ymholiad y Wasg / Cyfryngau</option>
              </select>
            </div>
            <div class="mb-6">
              <label for="message" class="form-label">
                Neges <span class="text-red-500">*</span>
              </label>
              <textarea
                id="message"
                name="message"
                class="form-input"
                placeholder="Rhowch eich neges yma..."
                rows="8"
              ></textarea>
            </div>
            <HCaptcha />
            <button type="submit" class="btn btn-primary">Anfon</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>