---
import TwSizeIndicator from "@/components/TwSizeIndicator.astro";
import config from "@/config/config.json";
// import theme from "@/config/theme.json";
import { plainify } from "@/lib/utils/textConverter";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import "@/styles/main.scss";
import { ViewTransitions } from "astro:transitions";
import SearchModal from "./helpers/SearchModal";
// Supports weights 300-700
import "@fontsource-variable/signika";
import "@fontsource-variable/heebo";
import AnimateOnScroll from "@/components/AnimateOnScroll.astro";
// Page language utility
import { getHtmlLangAttribute, getLangFromPath } from "@/lib/utils/lang";

// types for frontmatters
export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

// distructure frontmatters
const { title, meta_title, description, image, noindex, canonical } =
  Astro.props;

// consts for page language
const htmlLang = getHtmlLangAttribute(Astro.url.pathname);

const lang = getLangFromPath(Astro.url.pathname);
const isHomepage = Astro.url.pathname === "/en" || Astro.url.pathname === "/cy";

// Use localised metadata only for the homepage
const homepageTitle = isHomepage ? config.metadata[lang]?.meta_title : (meta_title ? meta_title : title ? title : config.site.title);
const homepageDescription = isHomepage ? config.metadata[lang]?.meta_description : description;
// Use localised metadata for author
const metaAuthor = config.metadata[lang]?.meta_author || config.metadata.en.meta_author;

---

<!doctype html>
<html lang={htmlLang}>
  <head>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="CCFA" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- theme meta -->
    <meta name="theme-name" content="astroplate" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000"
    />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <!-- title -->
    <title>
      {homepageTitle}
    </title>

    <!-- canonical url -->
    {canonical && <link rel="canonical" href={canonical} item-prop="url" />}

    <!-- noindex robots -->
    {noindex && <meta name="robots" content="noindex,nofollow" />}

    <!-- meta-description -->
    <meta
      name="description"
      content={homepageDescription}
    />

    <ViewTransitions />

    <!-- author from config.json -->
    <meta name="author" content={metaAuthor} />

    <!-- og-title -->
    <meta
      property="og:title"
      content={homepageTitle}
    />

    <!-- og-description -->
    <meta
      property="og:description"
      content={homepageDescription}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`}
    />

    <!-- twitter-title -->
    <meta
      name="twitter:title"
      content={homepageTitle}
    />

    <!-- twitter-description -->
    <meta
      name="twitter:description"
      content={homepageDescription}
    />

    <!-- og-image -->
    <meta
      property="og:image"
      content={`${config.site.base_url}${
        image ? image : config.metadata.meta_image
      }`}
    />

    <!-- twitter-image -->
    <meta
      name="twitter:image"
      content={`${config.site.base_url}${
        image ? image : config.metadata.meta_image
      }`}
    />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <TwSizeIndicator />
    <Header />
    <SearchModal client:load />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
    <AnimateOnScroll />
  </body>
</html>
